

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-492055596279858298.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-492055596279858298.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-492055596279858298.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-492055596279858298.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-492055596279858298.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-492055596279858298.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-492055596279858298.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-492055596279858298.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-492055596279858298.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-492055596279858298.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-492055596279858298.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-492055596279858298.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-492055596279858298.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-492055596279858298.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-492055596279858298.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-492055596279858298.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-492055596279858298.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-492055596279858298.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-492055596279858298.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-492055596279858298.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-492055596279858298.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-492055596279858298.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-492055596279858298.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-492055596279858298.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-492055596279858298.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-492055596279858298.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-492055596279858298.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-492055596279858298.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-492055596279858298.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-492055596279858298.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-492055596279858298.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-492055596279858298.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-492055596279858298.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-492055596279858298.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-492055596279858298.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-492055596279858298.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-492055596279858298.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-492055596279858298.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-492055596279858298.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-492055596279858298.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-492055596279858298.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-492055596279858298.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-492055596279858298.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-492055596279858298.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-492055596279858298.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-492055596279858298.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-492055596279858298.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-492055596279858298.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-492055596279858298.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-492055596279858298.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-492055596279858298.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-492055596279858298.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-492055596279858298.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-492055596279858298.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-492055596279858298.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-492055596279858298.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-492055596279858298.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-492055596279858298.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-492055596279858298.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-492055596279858298.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-492055596279858298.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-492055596279858298.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-492055596279858298.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-492055596279858298.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-492055596279858298.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-492055596279858298.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-492055596279858298.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-492055596279858298.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-492055596279858298.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-492055596279858298.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-492055596279858298.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-492055596279858298.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-492055596279858298.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-492055596279858298.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-492055596279858298.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-492055596279858298.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-492055596279858298.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-492055596279858298.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-492055596279858298.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-492055596279858298.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-492055596279858298.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-492055596279858298 .-gp-translate-x-1\/2,.gps-492055596279858298 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492055596279858298 .gp-visible{visibility:visible}.gps-492055596279858298 .gp-invisible{visibility:hidden}.gps-492055596279858298 .gp-absolute{position:absolute}.gps-492055596279858298 .gp-relative{position:relative}.gps-492055596279858298 .gp-inset-0{inset:0}.gps-492055596279858298 .gp-left-1\/2{left:50%}.gps-492055596279858298 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-492055596279858298 .gp-top-1\/2{top:50%}.gps-492055596279858298 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-492055596279858298 .gp-z-1{z-index:1}.gps-492055596279858298 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492055596279858298 .gp-mb-0{margin-bottom:0}.gps-492055596279858298 .\!gp-inline{display:inline!important}.gps-492055596279858298 .gp-flex{display:flex}.gps-492055596279858298 .gp-inline-flex{display:inline-flex}.gps-492055596279858298 .gp-grid{display:grid}.gps-492055596279858298 .\!gp-hidden{display:none!important}.gps-492055596279858298 .gp-hidden{display:none}.gps-492055596279858298 .gp-h-full{height:100%}.gps-492055596279858298 .gp-w-\[68px\]{width:68px}.gps-492055596279858298 .gp-w-full{width:100%}.gps-492055596279858298 .\!gp-max-w-none{max-width:none!important}.gps-492055596279858298 .gp-max-w-full{max-width:100%}.gps-492055596279858298 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-492055596279858298 .-gp-translate-x-1\/2,.gps-492055596279858298 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492055596279858298 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-492055596279858298 .gp-flex-col{flex-direction:column}.gps-492055596279858298 .gp-items-center{align-items:center}.gps-492055596279858298 .\!gp-justify-center{justify-content:center!important}.gps-492055596279858298 .gp-justify-center{justify-content:center}.gps-492055596279858298 .gp-gap-y-0{row-gap:0}.gps-492055596279858298 .gp-overflow-hidden{overflow:hidden}.gps-492055596279858298 .gp-break-words{overflow-wrap:break-word}.gps-492055596279858298 .gp-rounded-none{border-radius:0}.gps-492055596279858298 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-492055596279858298 .gp-bg-cover{background-size:cover}.gps-492055596279858298 .gp-bg-center{background-position:50%}.gps-492055596279858298 .gp-no-underline{text-decoration-line:none}.gps-492055596279858298 .gp-opacity-100{opacity:1}.gps-492055596279858298 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055596279858298 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055596279858298 .gp-duration-200{transition-duration:.2s}.gps-492055596279858298 .gp-duration-300{transition-duration:.3s}.gps-492055596279858298 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055596279858298 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-492055596279858298 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-492055596279858298 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-492055596279858298 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-492055596279858298 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-492055596279858298 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-492055596279858298 .tablet\:gp-relative{position:relative}.gps-492055596279858298 .tablet\:\!gp-hidden{display:none!important}.gps-492055596279858298 .tablet\:gp-hidden{display:none}.gps-492055596279858298 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-492055596279858298 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-492055596279858298 .mobile\:gp-relative{position:relative}.gps-492055596279858298 .mobile\:\!gp-hidden{display:none!important}.gps-492055596279858298 .mobile\:gp-hidden{display:none}.gps-492055596279858298 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-492055596279858298 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-492055596279858298 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-492055596279858298 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-492055596279858298 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492055596279858298 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-492055596279858298 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-492055596279858298 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-492055596279858298 .\[\&_p\]\:gp-inline p{display:inline}.gps-492055596279858298 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-492055596279858298 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492055596279858298 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gOqWxTmEvF"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOqWxTmEvF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLt29rGABW gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:700px;--h-tablet:500px;--h-mobile:400px;--d:none;--d-mobile:flex;--d-tablet:flex;--mb:0px;--mb-mobile:0px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":1536,"src":"https://ucarecdn.com/cfb1d79c-e9cc-4ee8-b29b-dc620d221ca5/","width":2048},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":1536,"src":"https://ucarecdn.com/cfb1d79c-e9cc-4ee8-b29b-dc620d221ca5/","width":2048},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":1536,"src":"https://ucarecdn.com/cfb1d79c-e9cc-4ee8-b29b-dc620d221ca5/","width":2048},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gayLRYNZ5e","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="gayLRYNZ5e gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--pl-mobile:0px;--h:700px;--h-tablet:500px;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:700px;--h-tablet:500px;--h-mobile:400px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="https://ucarecdn.com/cfb1d79c-e9cc-4ee8-b29b-dc620d221ca5/"
          alt=""
          fetchpriority="high"
          style="--aspect:2048/1536;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--d:none;--d-tablet:none;--d-mobile:none;--h:700px;--h-tablet:500px;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/cfb1d79c-e9cc-4ee8-b29b-dc620d221ca5/"
        alt=""
        style="--aspect:2048/1536;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--d:none;--d-tablet:none;--d-mobile:none;--h:700px;--h-tablet:500px;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/cfb1d79c-e9cc-4ee8-b29b-dc620d221ca5/);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:50%"
          > </div>
          </div>
          
          
      
      
    <div
      id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzVNeaa_2n gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWSADCb0c0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:100px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mb-tablet:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWSADCb0c0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gETZ1_x6IV gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] g0bj4nXE-l"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--aspect:16/9"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/oQEmQplpUBM?autoplay=1&state=1&mute=1&&controls=1"}'>
      
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=');--aspect:16/9"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      id="gp-video-g0bj4nXE-l"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg"
      src="https://i.ytimg.com/vi/oQEmQplpUBM/hqdefault.jpg" width="800" height="533" alt="Poster"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style=""
    />
  {%- else -%}
    <img
      id="gp-video-g0bj4nXE-l"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="https://i.ytimg.com/vi/oQEmQplpUBM/hqdefault.jpg" data-srcset="https://i.ytimg.com/vi/oQEmQplpUBM/hqdefault.jpg 768w,https://i.ytimg.com/vi/oQEmQplpUBM/hqdefault.jpg 1024w,https://i.ytimg.com/vi/oQEmQplpUBM/hqdefault.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="800" height="533" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style=""
    />
  {%- endif -%}
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      
      
    <div
      parentTag="Col" id="gPO20_Adu8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPO20_Adu8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu6XsPgAPN gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gXYesl4ieq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:10px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/d75013e8-e289-42ae-9242-9212ffa075f1/" width="573" height="88" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:573/88;--aspect-tablet:573/88;--aspect-mobile:573/88;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/d75013e8-e289-42ae-9242-9212ffa075f1/" data-srcset="https://ucarecdn.com/d75013e8-e289-42ae-9242-9212ffa075f1/ 768w,https://ucarecdn.com/d75013e8-e289-42ae-9242-9212ffa075f1/ 1024w,https://ucarecdn.com/d75013e8-e289-42ae-9242-9212ffa075f1/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="573" height="88" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:573/88;--aspect-tablet:573/88;--aspect-mobile:573/88;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXoSjcq8i4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g9e0HSh9zZ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:10px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/2df6d5ec-980d-42d1-95be-5cc3e662e32d/" width="854" height="226" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:854/226;--aspect-tablet:854/226;--aspect-mobile:854/226;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/2df6d5ec-980d-42d1-95be-5cc3e662e32d/" data-srcset="https://ucarecdn.com/2df6d5ec-980d-42d1-95be-5cc3e662e32d/ 768w,https://ucarecdn.com/2df6d5ec-980d-42d1-95be-5cc3e662e32d/ 1024w,https://ucarecdn.com/2df6d5ec-980d-42d1-95be-5cc3e662e32d/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="854" height="226" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:854/226;--aspect-tablet:854/226;--aspect-mobile:854/226;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwGS8v_r6i gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gI3QlX4gh0"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/c58ae173-0a54-44db-b7c8-ed90461b1b1c/" width="501" height="223" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:501/223;--aspect-tablet:501/223;--aspect-mobile:501/223;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/c58ae173-0a54-44db-b7c8-ed90461b1b1c/" data-srcset="https://ucarecdn.com/c58ae173-0a54-44db-b7c8-ed90461b1b1c/ 768w,https://ucarecdn.com/c58ae173-0a54-44db-b7c8-ed90461b1b1c/ 1024w,https://ucarecdn.com/c58ae173-0a54-44db-b7c8-ed90461b1b1c/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="501" height="223" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:501/223;--aspect-tablet:501/223;--aspect-mobile:501/223;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJPR8a6axW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnViNgd7yl "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:40px;--pl:30px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:48px;--size-tablet:40px;--size-mobile:38px;--c:var(--g-c-text-3, text-3);word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Transform Your Sleep</span></p></h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gI-AuwHRCs "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0px;--size:41px;--size-tablet:26px;--size-mobile:25px;--c:var(--g-c-text-3, text-3);word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Aizome All Natural, Organic Pillowcases&nbsp;</span></p></div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gx54gYyq0B"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:10px;--pb:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:300px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx54gYyq0B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6G1Ehf-yu gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSx7PYYB-y"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:20px;--mb-mobile:12px;--pb-mobile:0px;--mb-tablet:10px;--cg:32px;--cg-mobile:20px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSx7PYYB-y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1Vev-x8S2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="grf__xcT-7"
        style="--b:solid;--bc:#FFFFFF;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grf__xcT-7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gq_jfk4I33 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxHQGI59Y1 "
        style="--ta:right;--b:solid;--bc:#FFFFFF;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3);--tt:uppercase;word-break:break-word;overflow:hidden"
        ><p>Healthy</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghj3pU3kYO gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_mzVdZHS7"
        style="--b:solid;--bc:#FFFFFF;--bw:0px 0px 0px 2px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_mzVdZHS7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWZat_w3vY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbjncq5jsb "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3);--tt:uppercase;word-break:break-word;overflow:hidden"
        ><p>Restful</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbNVg_-_fA gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVmpFbHDMm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVmpFbHDMm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvHNxMYXpp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gEKsk_91nh "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3);--tt:uppercase;word-break:break-word;overflow:hidden"
        ><p>Sustainable</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .gkKENoFaTS.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gkKENoFaTS:hover::before {
      
      
    }

    .gkKENoFaTS:hover .gp-button-icon {
      color: #000000;
    }

     .gkKENoFaTS .gp-button-icon {
      color: #FFFFFF;
    }

    .gkKENoFaTS:hover .gp-button-price {
      color: #000000;
    }

    .gkKENoFaTS .gp-button-price {
      color: #FFFFFF;
    }

    .gkKENoFaTS .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gkKENoFaTS:hover .gp-product-dot-price {
      color: #000000;
    }
  </style>
    <button
      type="button" data-id="gkKENoFaTS" aria-label="Buy Now"
      
      data-state="idle"
      class="gkKENoFaTS gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFFFFF;--bg:rgba(44, 51, 47, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#000000;--c:#FFFFFF;--size:18px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style=""
      >
        Buy Now
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI4.woff) format('woff');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mxEIjVBNI4.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-492055596279858298 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055558715605902&sectionId=492055596279858298)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
