
  
  <style> .gps-492055639279797134 .gp-relative{position:relative}.gps-492055639279797134 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492055639279797134 .gp-mb-0{margin-bottom:0}.gps-492055639279797134 .\!gp-inline{display:inline!important}.gps-492055639279797134 .gp-flex{display:flex}.gps-492055639279797134 .gp-grid{display:grid}.gps-492055639279797134 .\!gp-hidden{display:none!important}.gps-492055639279797134 .gp-hidden{display:none}.gps-492055639279797134 .gp-h-full{height:100%}.gps-492055639279797134 .gp-w-full{width:100%}.gps-492055639279797134 .gp-max-w-full{max-width:100%}.gps-492055639279797134 .gp-flex-col{flex-direction:column}.gps-492055639279797134 .gp-gap-y-0{row-gap:0}.gps-492055639279797134 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055639279797134 .gp-duration-200{transition-duration:.2s}.gps-492055639279797134 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-492055639279797134 .tablet\:\!gp-hidden{display:none!important}.gps-492055639279797134 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492055639279797134 .mobile\:\!gp-hidden{display:none!important}.gps-492055639279797134 .mobile\:gp-hidden{display:none}}.gps-492055639279797134 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gN8TNuekBy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:20px;--pb:20px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--pt-tablet:50px;--pl-tablet:20px;--pb-tablet:40px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DDDDDD;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN8TNuekBy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glC0pkxGa4 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="glN_pJqPBQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glN_pJqPBQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbb6mn3rxE gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gUvHqUCvoe"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:30px;--mb-mobile:0px;--pt-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUvHqUCvoe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggcN9v4FMW gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gczYxy7ouF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/" srcset="https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/ 768w,https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/ 1024w,https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/ 1440w" width="280" height="80" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:280/80;--aspect-tablet:280/80;--aspect-mobile:280/80;--objf:cover;--w:150px;--w-tablet:60px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/" data-srcset="https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/ 768w,https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/ 1024w,https://ucarecdn.com/5f5a2794-1dc3-4dd2-8c30-ceff5b68a92d/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="280" height="80" alt="Alt image"
      sizes="100vw"
      style="--aspect:280/80;--aspect-tablet:280/80;--aspect-mobile:280/80;--objf:cover;--w:150px;--w-tablet:60px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 15",
      "tag": "section",
      "class": "gps-492055639279797134 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055606295790478&sectionId=492055639279797134)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
