

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-492055595826807930.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-492055595826807930.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-492055595826807930.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-492055595826807930.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-492055595826807930.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-492055595826807930.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-492055595826807930.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-492055595826807930.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-492055595826807930.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-492055595826807930.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-492055595826807930.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-492055595826807930.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-492055595826807930.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-492055595826807930.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-492055595826807930.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-492055595826807930.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-492055595826807930.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-492055595826807930.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-492055595826807930.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-492055595826807930.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-492055595826807930.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-492055595826807930.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-492055595826807930.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-492055595826807930.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-492055595826807930.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-492055595826807930.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-492055595826807930.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-492055595826807930.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-492055595826807930.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-492055595826807930.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-492055595826807930.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-492055595826807930.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-492055595826807930.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-492055595826807930.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-492055595826807930.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-492055595826807930.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-492055595826807930.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-492055595826807930.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-492055595826807930.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-492055595826807930.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-492055595826807930.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-492055595826807930.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-492055595826807930.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-492055595826807930.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-492055595826807930.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-492055595826807930.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-492055595826807930.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-492055595826807930.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-492055595826807930.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-492055595826807930.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-492055595826807930.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-492055595826807930.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-492055595826807930.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-492055595826807930.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-492055595826807930.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-492055595826807930 .-gp-translate-x-1\/2,.gps-492055595826807930 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492055595826807930 .gp-visible{visibility:visible}.gps-492055595826807930 .gp-invisible{visibility:hidden}.gps-492055595826807930 .gp-absolute{position:absolute}.gps-492055595826807930 .gp-relative{position:relative}.gps-492055595826807930 .gp-left-1\/2{left:50%}.gps-492055595826807930 .gp-top-1\/2{top:50%}.gps-492055595826807930 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492055595826807930 .gp-mb-0{margin-bottom:0}.gps-492055595826807930 .gp-flex{display:flex}.gps-492055595826807930 .gp-grid{display:grid}.gps-492055595826807930 .\!gp-hidden{display:none!important}.gps-492055595826807930 .gp-hidden{display:none}.gps-492055595826807930 .gp-h-full{height:100%}.gps-492055595826807930 .gp-w-\[68px\]{width:68px}.gps-492055595826807930 .gp-w-full{width:100%}.gps-492055595826807930 .\!gp-max-w-none{max-width:none!important}.gps-492055595826807930 .gp-max-w-full{max-width:100%}.gps-492055595826807930 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-492055595826807930 .-gp-translate-x-1\/2,.gps-492055595826807930 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492055595826807930 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-492055595826807930 .gp-flex-col{flex-direction:column}.gps-492055595826807930 .gp-gap-y-0{row-gap:0}.gps-492055595826807930 .gp-overflow-hidden{overflow:hidden}.gps-492055595826807930 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-492055595826807930 .gp-bg-cover{background-size:cover}.gps-492055595826807930 .gp-bg-center{background-position:50%}.gps-492055595826807930 .gp-opacity-100{opacity:1}.gps-492055595826807930 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055595826807930 .gp-duration-200{transition-duration:.2s}.gps-492055595826807930 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-492055595826807930 .tablet\:\!gp-hidden{display:none!important}.gps-492055595826807930 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492055595826807930 .mobile\:\!gp-hidden{display:none!important}.gps-492055595826807930 .mobile\:gp-hidden{display:none}}.gps-492055595826807930 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492055595826807930 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-492055595826807930 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-492055595826807930 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-492055595826807930 .\[\&_p\]\:gp-inline p{display:inline}.gps-492055595826807930 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492055595826807930 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gyUHq5D12l"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyUHq5D12l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdceLqNEeu gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-6egWnvTM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#333333;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-6egWnvTM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEGE1j919d gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQjE3QWwUt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:20px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQjE3QWwUt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmP_T8mklz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGobsGJ1ST "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:30px;--mb:0px;--pb:30px;--mt-mobile:20px;--mb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#FFFFFF;--tt:capitalize;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:29px;">effortless experience with quick installation</span></p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gONmGJ4NoZ "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:10px;--mt-mobile:0px;--mb-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-body, body);--weight:400;--ls:0.6px;--size:20px;--size-tablet:16px;--size-mobile:19px;--c:#FFFFFF;--tt:capitalize;word-break:break-word;overflow:hidden"
        ><ul><li>quick and straightforward setup process.</li><li>intuitive interface for all user levels.</li><li>no professional installation required.</li></ul></div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHnhEAxtVb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gvqJS59ScW"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:50px;--mb:var(--g-s-l);--pt:0px;--aspect:16/9"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/ev9jbrMdeFQ?autoplay=1&state=1&mute=1&&controls=1"}'>
      
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=');--aspect:16/9"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      id="gp-video-gvqJS59ScW"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg"
      src="https://i.ytimg.com/vi/ev9jbrMdeFQ/hqdefault.jpg" width="800" height="533" alt="Poster"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style=""
    />
  {%- else -%}
    <img
      id="gp-video-gvqJS59ScW"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="https://i.ytimg.com/vi/ev9jbrMdeFQ/hqdefault.jpg" data-srcset="https://i.ytimg.com/vi/ev9jbrMdeFQ/hqdefault.jpg 768w,https://i.ytimg.com/vi/ev9jbrMdeFQ/hqdefault.jpg 1024w,https://i.ytimg.com/vi/ev9jbrMdeFQ/hqdefault.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="800" height="533" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style=""
    />
  {%- endif -%}
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI4.woff) format('woff');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zPtBhPNqw79Ij1E865zBUv7mxEIjVBNI4.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4jQmfxIC7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4jQmfxI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-492055595826807930 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055558715605902&sectionId=492055595826807930)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
