
  <style> @import url('https://fonts.googleapis.com/css?family=Jost:500,700|Inter:700&display=swap'); </style>
  <style> .gps-492055639414015098 .gp-relative{position:relative}.gps-492055639414015098 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-492055639414015098 .gp-mb-0{margin-bottom:0}.gps-492055639414015098 .gp-flex{display:flex}.gps-492055639414015098 .gp-inline-flex{display:inline-flex}.gps-492055639414015098 .gp-grid{display:grid}.gps-492055639414015098 .\!gp-hidden{display:none!important}.gps-492055639414015098 .gp-hidden{display:none}.gps-492055639414015098 .gp-max-w-full{max-width:100%}.gps-492055639414015098 .gp-flex-col{flex-direction:column}.gps-492055639414015098 .gp-items-center{align-items:center}.gps-492055639414015098 .gp-justify-center{justify-content:center}.gps-492055639414015098 .gp-gap-y-0{row-gap:0}.gps-492055639414015098 .gp-overflow-hidden{overflow:hidden}.gps-492055639414015098 .gp-leading-\[0\]{line-height:0}.gps-492055639414015098 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-492055639414015098 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492055639414015098 .gp-duration-200{transition-duration:.2s}.gps-492055639414015098 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-492055639414015098 .tablet\:\!gp-hidden{display:none!important}.gps-492055639414015098 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-492055639414015098 .mobile\:\!gp-hidden{display:none!important}.gps-492055639414015098 .mobile\:gp-hidden{display:none}}.gps-492055639414015098 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-492055639414015098 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-492055639414015098 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-492055639414015098 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-492055639414015098 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-492055639414015098 .\[\&_p\]\:gp-inline p{display:inline}.gps-492055639414015098 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492055639414015098 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gtulNjyMt7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtulNjyMt7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5tVXoheu0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFKzv4nfdG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFKzv4nfdG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNMmyF3YVY gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXCwLvGMbm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:20px;--pl:50px;--pb:25px;--pr:50px;--mb-mobile:0px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXCwLvGMbm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grE33QjFgn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gR00voJoC6 "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:10px;--pt:30px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-heading, heading);--weight:500;--ls:normal;--lh:100%;--size:36px;--size-tablet:38px;--size-mobile:30px;--c:#000000;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:px;">Better than the Competition</span></p></h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gi4Ui31s4c"
        style="--b:solid;--bc:#CECECE;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:10px;--pb:10px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi4Ui31s4c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g97YMN6IET gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-_hv5zfPM gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gjLfhKA-xV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjLfhKA-xV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtareVfIFL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gyBngGqX-p "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:0.6px;--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="font-size:18px;">AWOL Vision</span></p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gjLfhKA-xV"
      >.gjLfhKA-xV {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggBhETZcss gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWtpYms-gt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWtpYms-gt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk56W_-8-u gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gb5BAF7v69 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:0.6px;--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="font-size:18px;">Competitors</span></p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gWtpYms-gt"
      >.gWtpYms-gt {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gi4Ui31s4c"
      >.gi4Ui31s4c {
    border-radius: 200px;

}</style>
    
      
      
    <div
      parentTag="Col" id="gE7H3y9p7r"
        style="--b:solid;--bc:#CECECE;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:15px;--pb:15px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE7H3y9p7r gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHcPXY6XaA gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcFhl1lVfH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcFhl1lVfH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7ZxmODTc1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gW-MVdN0RZ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:0.6px;--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Advanced Light Rejection Technology</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gcFhl1lVfH"
      >.gcFhl1lVfH {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gDRleq8fvY gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gfGccljsgi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfGccljsgi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPIRluRN84 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gDGmpPGyeX"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gfGccljsgi"
      >.gfGccljsgi {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRAAMXs94H gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g0NOAkCncZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0NOAkCncZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkGle5f6HH gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gu0u-emZQI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu0u-emZQI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0jJ8HmagF gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gbY0nhzIjW"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gu0u-emZQI"
      >.gu0u-emZQI {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g0NOAkCncZ"
      >.g0NOAkCncZ {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gE7H3y9p7r"
      >.gE7H3y9p7r {
    border-radius: 200px;

}</style>
    
      
      
    <div
      parentTag="Col" id="gOV0xm0un-"
        style="--b:solid;--bc:#CECECE;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:15px;--pb:15px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOV0xm0un- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCLfb31ECN gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxVgugHnJK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxVgugHnJK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnFeslNDPK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8pBKYMRtP "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:0.6px;--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Versatility for Different Environments</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gxVgugHnJK"
      >.gxVgugHnJK {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grUqqagZxl gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gG6kZ6KcJY"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG6kZ6KcJY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwx1tkjhPO gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gbrERxWSsW"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gG6kZ6KcJY"
      >.gG6kZ6KcJY {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtcZfjd8y0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3Vic7qlN1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3Vic7qlN1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVgfHAe9BE gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKGb7IJJmM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKGb7IJJmM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwsE3paLPu gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gH4O0JzXMx"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gKGb7IJJmM"
      >.gKGb7IJJmM {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g3Vic7qlN1"
      >.g3Vic7qlN1 {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gOV0xm0un-"
      >.gOV0xm0un- {
    border-radius: 200px;

}</style>
    
      
      
    <div
      parentTag="Col" id="gbLJaOkgpq"
        style="--b:solid;--bc:#CECECE;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:15px;--pb:15px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbLJaOkgpq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0zZB93VpR gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCUAdku7II"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCUAdku7II gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWsR6BXyY8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gutILQfWlf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:0.6px;--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Enhanced Image Quality</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gCUAdku7II"
      >.gCUAdku7II {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVCnmTCgsL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gl-g1C-GHR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl-g1C-GHR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMajeF-Rp3 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] ghELnLWhYj"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gl-g1C-GHR"
      >.gl-g1C-GHR {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvIoIGqViz gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQuYKEdXH_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQuYKEdXH_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goFL0ohtH7 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g1LbFvjUT1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1LbFvjUT1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM1U_1d1Dy gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gTTrQ6wXWd"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-g1LbFvjUT1"
      >.g1LbFvjUT1 {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gQuYKEdXH_"
      >.gQuYKEdXH_ {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gbLJaOkgpq"
      >.gbLJaOkgpq {
    border-radius: 200px;

}</style>
    
      
      
    <div
      parentTag="Col" id="gdXw02cHeR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:15px;--pb:15px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdXw02cHeR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmmMrUgoMA gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gw7R0bGeXo"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gw7R0bGeXo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8lExnRtc1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gloVWEEOI6 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:0.6px;--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Compatibility and Ease of Installation</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gw7R0bGeXo"
      >.gw7R0bGeXo {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g1MFY8ISy1 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJkBuDT23h"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJkBuDT23h gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjgQWO1REV gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gz5Elk0zPy"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gJkBuDT23h"
      >.gJkBuDT23h {
    border-radius: 200px;

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVdpWrjJy6 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gkCsVmvlJ8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkCsVmvlJ8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAOkAqcNXi gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxAO5Ax9Lw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EFECEC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxAO5Ax9Lw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goiymtZLQd gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gMz46j_ub2"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gxAO5Ax9Lw"
      >.gxAO5Ax9Lw {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gkCsVmvlJ8"
      >.gkCsVmvlJ8 {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gdXw02cHeR"
      >.gdXw02cHeR {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gXCwLvGMbm"
      >.gXCwLvGMbm {
    border-radius: 200px;

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-492055639414015098 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055606295790478&sectionId=492055639414015098)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
