
  <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,400,500&display=swap'); </style>
  <style> .gps-497728531690685321 .gp-relative{position:relative}.gps-497728531690685321 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-497728531690685321 .gp-mb-0{margin-bottom:0}.gps-497728531690685321 .gp-flex{display:flex}.gps-497728531690685321 .gp-inline-flex{display:inline-flex}.gps-497728531690685321 .gp-grid{display:grid}.gps-497728531690685321 .\!gp-hidden{display:none!important}.gps-497728531690685321 .gp-hidden{display:none}.gps-497728531690685321 .gp-max-w-full{max-width:100%}.gps-497728531690685321 .gp-flex-col{flex-direction:column}.gps-497728531690685321 .gp-items-center{align-items:center}.gps-497728531690685321 .gp-justify-center{justify-content:center}.gps-497728531690685321 .gp-gap-y-0{row-gap:0}.gps-497728531690685321 .gp-overflow-hidden{overflow:hidden}.gps-497728531690685321 .gp-leading-\[0\]{line-height:0}.gps-497728531690685321 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-497728531690685321 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497728531690685321 .gp-duration-200{transition-duration:.2s}.gps-497728531690685321 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-497728531690685321 .tablet\:\!gp-hidden{display:none!important}.gps-497728531690685321 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-497728531690685321 .mobile\:\!gp-hidden{display:none!important}.gps-497728531690685321 .mobile\:gp-hidden{display:none}}.gps-497728531690685321 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-497728531690685321 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-497728531690685321 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-497728531690685321 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-497728531690685321 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-497728531690685321 .\[\&_p\]\:gp-inline p{display:inline}.gps-497728531690685321 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497728531690685321 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gs1PZTjqgg"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gs1PZTjqgg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-RpP1BYhe gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gHDXXJG1R9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHDXXJG1R9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gu6whJFvdd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVbnAeHOts "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:40px;--pb:50px;--mb-mobile:0px;--pt-mobile:40px;--pb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh:100%;--size:36px;--size-tablet:38px;--size-mobile:35px;--c:#000000;word-break:break-word;overflow:hidden"
        ><p><span style="font-size:45px;">AWOL Beats the Competition</span></p></h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g5SPIfhmFE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--cg:32px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5SPIfhmFE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbCuH7_bmO gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5R825KYik "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--ls:normal;--lh:150%;--size:23px;--size-tablet:16px;--size-mobile:20px;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>AWOL Vision&nbsp;</p></div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gV4Sbgrvf9 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gLS5nMCkNV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--w:40px;--w-tablet:40px;--w-mobile:40px;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLS5nMCkNV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3rHl_8Gfz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gaqBDETVOq "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:rgba(36, 36, 36, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;overflow:hidden"
        ><p>VS</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gi6c_XQmYr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g3T6IRxsDQ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--ls:normal;--lh:150%;--size:23px;--size-tablet:16px;--size-mobile:20px;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Competitors</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gtVHQjerKs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtVHQjerKs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBkmvKQhZt gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="geN7BN4g-m"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--mr:-50px;--pt:9px;--pb:9px;--mb-mobile:0px;--mr-mobile:-35px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geN7BN4g-m gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gicDVYQkFr gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] g-x-oiSSMO"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCnFi2NMli gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gv1GdbfWow"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:9px;--pb:9px;--z:3;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gv1GdbfWow gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4cpiizWMq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gm8Z7fpU8H "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Picture Quality</p><p>&nbsp;</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwG0-zmC4Q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gAXmmzTDH4"
        style="--b:solid;--bc:#D4D4D4;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--ml:-50px;--mb:0px;--pt:9px;--pb:9px;--ml-mobile:-35px;--mb-mobile:0px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAXmmzTDH4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHO6G0DiF4 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gfA32etFIS"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gNjSES1c1c"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNjSES1c1c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2vbdpET9y gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gfWcQMkLVt"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--mr:-50px;--pt:9px;--pb:9px;--mb-mobile:0px;--mr-mobile:-35px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfWcQMkLVt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxe64RmGth gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gmFPcsxP9D"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqk8rF1RhU gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gc-8U9WWXg"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:9px;--pb:9px;--z:3;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc-8U9WWXg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmStB5-LkG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gjrP3IEXnw "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Versatility&nbsp;</p><p>&nbsp;</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6mW-2KR5Q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gjwXKhvzrd"
        style="--b:solid;--bc:#D4D4D4;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--ml:-50px;--mb:0px;--pt:9px;--pb:9px;--ml-mobile:-35px;--mb-mobile:0px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjwXKhvzrd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1itSXBbjz gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gy0ncbnZs9"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g-u3S_JeBG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-u3S_JeBG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzBMejnXKV gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gnraFS6dKQ"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--mr:-50px;--pt:9px;--pb:9px;--mb-mobile:0px;--mr-mobile:-35px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnraFS6dKQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gn2ZtCKyu7 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gLKWFB3wch"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grKJAXAV7T gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gl2mHbkuVs"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:9px;--pb:9px;--z:3;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl2mHbkuVs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAmulpu8bu gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g649bt_nGz "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Image Quality</p><p>&nbsp;</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXgEpTlw8S gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g6Xl8q_wc9"
        style="--b:solid;--bc:#D4D4D4;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--ml:-50px;--mb:0px;--pt:9px;--pb:9px;--ml-mobile:-35px;--mb-mobile:0px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6Xl8q_wc9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guhmHGLi65 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gQrFSKJ281"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gwl4vEIYzI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwl4vEIYzI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqYT86bEZf gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="glAAGSOOOb"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--mr:-50px;--pt:9px;--pb:9px;--mb-mobile:0px;--mr-mobile:-35px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glAAGSOOOb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh7nnsm4zk gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] g_KA7XSPZZ"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfzVfWB2VR gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2rsHu5tJk"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:9px;--pb:9px;--z:3;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2rsHu5tJk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUnI2iUykE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g9-qVS0WrG "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Ease of Installation</p><p>&nbsp;</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKvDyPgYRj gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEpkiCc1UW"
        style="--b:solid;--bc:#D4D4D4;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--ml:-50px;--mb:0px;--pt:9px;--pb:9px;--ml-mobile:-35px;--mb-mobile:0px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEpkiCc1UW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDzUc4Ixyb gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gr-Qn276uz"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g5koMqUk3_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:16px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5koMqUk3_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMFUXBWtpb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g29hRRALGW"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--mr:-50px;--pt:9px;--pb:9px;--mb-mobile:0px;--mr-mobile:-35px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g29hRRALGW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gB1_jjF1cY gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gNiPAtCX0s"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#00C853;--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM212.614 354.506C207.666 354.506 202.922 352.542 199.423 349.043L126.485 276.105C119.2 268.82 119.2 257.01 126.485 249.725C133.77 242.439 145.581 242.439 152.866 249.725L212.614 309.473L359.13 162.956C366.415 155.67 378.227 155.671 385.512 162.956C392.796 170.241 392.796 182.052 385.512 189.337L225.804 349.043C222.306 352.542 217.562 354.506 212.614 354.506Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0le1Xye7a gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gASzk5ARgW"
        style="--b:solid;--bc:#242424;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:9px;--pb:9px;--z:3;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gASzk5ARgW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJkPJiH9D5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gjxe3FOImN "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Daytime Use</p><p>&nbsp;</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqe0xx2ZLk gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gfncTVQ5VN"
        style="--b:solid;--bc:#D4D4D4;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--ml:-50px;--mb:0px;--pt:9px;--pb:9px;--ml-mobile:-35px;--mb-mobile:0px;--pt-mobile:9px;--pb-mobile:9px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfncTVQ5VN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giK04S172K gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
      class="gp-leading-[0] gHv2az7Ptp"
    >
      <div class="gp-inline-flex gp-overflow-hidden gp-g-s-icon-none"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.511 491.465C126.074 478.591 98.7476 460.17 75.2887 436.712C51.8306 413.252 33.408 385.926 20.5346 355.488C7.19794 323.956 0.435547 290.484 0.435547 256C0.435547 221.515 7.19794 188.043 20.5338 156.511C33.408 126.074 51.8298 98.7469 75.2887 75.2888C98.7476 51.8307 126.074 33.408 156.511 20.5346C188.043 7.19795 221.516 0.435547 256 0.435547C290.484 0.435547 323.956 7.19708 355.489 20.5346C385.926 33.408 413.253 51.8298 436.712 75.2888C460.17 98.7478 478.593 126.074 491.466 156.512C504.802 188.043 511.566 221.515 511.566 256C511.566 290.483 504.802 323.956 491.466 355.488C478.593 385.926 460.171 413.252 436.712 436.712C413.253 460.169 385.925 478.591 355.489 491.465C323.957 504.802 290.484 511.564 256 511.564C221.516 511.564 188.043 504.802 156.511 491.465ZM474.255 256C474.255 135.461 376.54 37.7442 256 37.7442C135.461 37.7442 37.7441 135.461 37.7441 256C37.7441 376.539 135.461 474.255 256 474.255C376.54 474.255 474.255 376.539 474.255 256ZM174.235 356.42C169.461 356.42 164.688 354.599 161.045 350.955C153.76 343.672 153.76 331.86 161.044 324.576L229.619 256L161.044 187.425C153.759 180.14 153.759 168.329 161.044 161.044C168.328 153.759 180.14 153.759 187.424 161.044L255.999 229.62L324.575 161.044C331.86 153.759 343.671 153.759 350.955 161.044C358.239 168.328 358.239 180.14 350.955 187.425L282.38 256L350.956 324.576C358.241 331.86 358.241 343.672 350.956 350.955C347.313 354.598 342.54 356.42 337.766 356.42C332.992 356.42 328.218 354.599 324.576 350.955L256 282.38L187.425 350.955C183.783 354.598 179.009 356.42 174.235 356.42Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-497728531690685321 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=492055606295790478&sectionId=497728531690685321)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
